# LLMwork
Testing.py
PyplotImages
PNGs
CSVfiles
keys
CSV(Tests)
Data
Eval1
Eval2
Eval_Final
Original Run(Without No New Active Fire)
New Run
TimeGPT.py
Geminiprompting(YN)(BP).py
Geminiprompting(Image).py
Geminiprompting(Categorical)(ToT).py
Geminiprompting(Categorical)(DT).py
Geminiprompting(Categorical).py
Geminipromopting(Categorical)(DTP)(Natural).py
Geminipromopting(Categorical)(DTP)(Balanced).py
Geminipromopting(Categorical)(DTP)(Natural)(Prompts).py
Geminipromopting(Categorical)(DTP)(1group)(Natural)(Prompts).py
Geminipromopting(Categorical)(DTP)(1group)(Natural).py
Geminipromopting(Categorical)(DTP)(1group)(Balanced).py
GeminiCSVcreation.py
GeminiTesting(DT).py
GeminiTesting.py
Tree.json
CSVDATA.csv
PltSaving.py
TimeGPTCSV.py
TimeGPTCSV2.py
Geminipromopting(Categorical)(DTP)(Natural)(Remake).py
Geminipromopting(Categorical)(DTP, SP)(1group)(Natural)(Remake).py
Geminipromopting(Categorical)(DTP,SP)(1group)(Balanced)(Remake).py
Final Results
PNGs(TrueColor)(ActiveFirePatch)
PNGs(TrueColor)
FixedRunGeminiPrompting(Categorical).py
GeminiVoterResults.csv(Fixed)(V3).csv
GeminiVoterResults.csv(Fixed)(Old).csv
Geminipromopting(Categorical)(DTP)(Balanced)(Remake)(PRO)(NoVoter)(G3).py
Geminipromopting(Categorical)(DTP)(Balanced)(Remake)(PRO)(LLMVoter)(G3).py
Geminipromopting(Categorical)(DTP)(Balanced)(Remake) copy 4.py
Geminipromopting(Categorical)(DTP)(Balanced)(Remake) copy.py
Geminipromopting(Categorical)(DTP)(Balanced)(Remake).py
Gemini(Categorical)(DTP)eval3.py
AGU Work\Code\PNGSaving(TrueColor).py
NeurIPS24 Work